---
import Start from '../assets/start.svg'
---

<footer>
    <div class="container">
      <div class="flex">
        <a href="https://only-one-situp.super.site/">サポートページ</a>
        <a href="https://only-one-situp.super.site/%E3%81%8A%E5%95%8F%E3%81%84%E5%90%88%E3%82%8F%E3%81%9B">よくある質問</a>
        <a href="https://only-one-situp.super.site/%E5%88%A9%E7%94%A8%E8%A6%8F%E7%B4%84">プライバシーポリシー</a>
      </div>
      <div class="center">
        <a href="https://apps.apple.com/jp/app/1日1回だけ腹筋するアプリ/id6471345904">
          <img src={Start} alt="">
        </a>
      </div>
    </div>
</footer>

<style lang="scss">

footer{
  padding: 50px;
}

.flex{
  justify-content: center;
  padding: 50px 10px;
  a{
    padding: 20px;
    color: #111;
    text-decoration: none;
    font-size: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .flex{
    flex-direction: column;
    a{
      padding: 10px;
    }
  }
  
}

img{
    width: 200px;
  }
</style>