---
import Logo from '../assets/logo.png'
---


<header>
    <nav class="container">
        <div class="nav-logo">
            <img src={Logo} alt="brand logo">
            <!-- <h3>1日1回だけ腹筋するアプリ</h3> -->
        </div>
        <div class="nav-links">
            <!-- <a href="#features">Features</a>
            <a href="#customers">Customers</a>
            <a href="#">Twitter</a> -->
        </div>
        <div class="nav-cta">
            <!-- <a href="#">Login</a> -->
            <a href="https://apps.apple.com/jp/app/1日1回だけ腹筋するアプリ/id6471345904" class="button button-primary">無料ではじめる</a>
        </div>
    </nav>
</header>


<style lang="scss">
nav{
    position: relative;
    display: grid;
    grid-template-columns: 12% 55% 30%;
    top: 10px;
    .nav-cta{
       text-align: right;
    }
    .nav-links{
        margin-top:2px;
    }
    a:not(.button){
        padding: 0 10px;
        color: #333;
        text-decoration: none;
        img{
            width: 90px;
            margin-left: -6px;
            margin-top: 2px;
        }
    }

    .nav-logo img{
        height: 50px;
    }

    @media (max-width:700px) {
        grid-template-columns: 30% 70%;
        .nav-logo img{
            margin-top: 7px;
        }
        .nav-links{
            display: none;
        }
    }
}
</style>