---
import Showcase from '../assets/tweet.svg'
import Cursor from '../assets/cursor.svg'
import Hero from '../assets/hero_situp.webp'
---


<section class="product-hero">
    <div class="container">
       <div class="row">
           <div class="one-half column">
              <div class="d-cell">
               <h1 class="h1-title">え!?<br/>あの人が<span>腹筋1000回も!?</span></h1>
               <div class="content">
                   <p>1日1回腹筋するだけでOK!絶対に続けられる腹筋アプリ!</p>
                   <a href="https://apps.apple.com/jp/app/1日1回だけ腹筋するアプリ/id6471345904" class="button button-primary lg">無料ではじめる！</a>
               </div>
              </div>
           </div>
           <div class="one-half column hero-media">
               <img src={Hero} class="u-full-width" alt="Hero illustrator">
               <!-- <img src={Cursor} alt="Cursor icon"> -->
           </div>
       </div>
    </div>
   </section>

   <style lang="scss">

    .product-hero{
        padding: 50px 0;
        .one-half{
            display: table;
            height: 400px;
            margin-bottom: 40px;
            .d-cell{
                display: table-cell;
                vertical-align: middle;
            }
        }
        span {
            color: #ff6b6b;
        }
    .hero-media{
        position: relative;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        img:not(.u-full-width){
            width: 80px;
            position: absolute;
            left: 20px;
            bottom: 0;
        }
      }
    }
   </style>